body {
    background-color: #0f0f0f;
}

main {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

.part1 {
    display: flex;
}


.part1 svg {
    width: 100px;
}

.part1 svg.logo {
    width: 300px;
}

.box {
    color: white;
    text-align: center;
    background-color: white;
    height: 400px;
    width: 400px;
    /* border-radius: 100%; */
    display: block;
    margin: 0 auto;
    transition: .4s;
}

.box:hover {
    color: black;
    -webkit-box-shadow: 11px 18px 32px 1px rgba(255, 0, 255, 1);
    -moz-box-shadow: 11px 18px 32px 1px rgba(255, 0, 255, 1);
    box-shadow: 11px 18px 32px 1px rgba(255, 0, 255, 1);
}

/* ************************* fade ************************* */
.fade-in-left {
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
/* ************************* end fade ************************* */
